<div class="swar" id="home">
	<div class="banner_agile_top">
			<div class="w3_agile_header">
						<div class="w3_agileits_logo">
								<h1><a href="index.html">Swar Music <span>academy </span></a></h1>
							</div>
							<div class="w3_menu">

							
								<div class="overlay overlay-contentpush">
								 <button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>

								<nav>
									<ul>
										<li><a href="#home" class="active scroll" >Home</a></li>
										<li><a href="#about" class="scroll">About</a></li>
										<li><a href="#team" class="scroll" >Our Artists</a></li>
										<li><a href="#services" class="scroll" >Services</a></li>
										<li><a href="#gallery" class="scroll" >Gallery</a></li>
										<li><a href="#contact" class="scroll" >Contact</a></li>
									</ul>
								</nav>
							</div>
								<div class="mobile-nav-button">
								<button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>

								</div>
							
						</div>

					<div class="clearfix"></div>
			    </div>
				<!-- banner-text -->
				<div class="agileits-banner-info">
											<!-- <p class="w3_text">Design by w3layouts</p> -->
												<h3 class="w3ls_agile">The 
												Sweetest music this side of heaven.</h3>

											<div class="w3_agileits_social_media ">
				
												<ul class="social-icons3">
													<li class="agileinfo_share" style="color: white;">Share On</li>
													<li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
													<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
													<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
													<li><a href="#" class="wthree_rss"><i class="fa fa-rss"></i></a></li>
												</ul>
											</div>	
													</div>
				<!--banner Slider starts Here-->
			

		</div>
</div>