{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Swar Music</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Musicality Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="{% static 'user/css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- gallery -->
<link rel="stylesheet" href="{% static 'user/css/lightGallery.css'%}" type="text/css" media="all" />
<!-- //gallery -->
<link rel="stylesheet" href="{% static 'user/css/flexslider.css'%}" type="text/css" media="screen" property="" />

<link href="{% static 'user/css/style7.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'user/css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome-icons -->
<link href="{% static 'user/css/font-awesome.css'%}" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- banner -->
{% include 'user/header.html' %}
<!-- //banner -->
<!--/welcome-->
{% include 'user/about.html' %}
<!-- //bootstrap-pop-up -->

		<!-- banner-text -->
	{% include 'user/feature.html' %}
<!-- //banner-text -->
 <!--iframe-->
			
			 <!--//iframe-->

<!-- services -->
	{% include 'user/service.html' %}
<!-- //services -->
<!-- team -->
	{% include 'user/team.html' %}
<!-- //team -->

<!-- gallery -->
	{% include 'user/gallery.html' %}
<!-- contact -->
<!-- testimonials -->
	
<!-- //testimonials -->
	{% include 'user/contact.html' %}
<!-- //contact -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agileits_w3layouts_footer_grids">
				<div class="col-md-4 agileits_w3layouts_footer_grid">
					<h3>Call Us Now</h3>
					<ul>
						<li><span>Office Phone :</span> (+123) 2302 232</li>
						<li><span>Fax :</span> (+123) 123 456 455</li>
					</ul>
				</div>
				<div class="col-md-4 agileits_w3layouts_footer_grid">
					<h3>Address</h3>
					<p>132 New Lenox, 868 1st Avenue <i>4th Street NYC.</i></p>
				</div>
				<div class="col-md-4 agileits_w3layouts_footer_grid">
					<h3>send a message</h3>
					<ul>
						<li><span>Email :</span> <a href="mailto:chavdanarotam41@gmail.com">rathodketan5112001@gmail.com</a></li>
						<li><span>Enquiry :</span> <a href="mailto:info@enquiry.com">info@enquiry.com</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3_agileits_footer_grids">
				<div class="col-md-4 w3_agileits_footer_grid">
					<p>Nulla ex dolor, elementum sit amet placerat at, pretium in tortor. 
						Vestibulum lacinia arcu quis lacus sollicitudin condimentum. 
						Ut ac aliquet ex.</p>
				</div>
				<div class="col-md-4 w3_agileits_footer_grid">
					<h3>Hours Work</h3>
					<h4>Admissions are opened</h4>
					<ul>
						<li><span>Mon - Fri : </span> 9:00 AM to 5:00PM</li>
						<li><span>Sat : </span> 10:00 AM to 3:00PM</li>
					</ul>
				</div>
				<div class="col-md-4 w3_agileits_footer_grid">
					<h3>Subscribe Now</h3>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Email" required="">
						<input type="submit" value="Submit ">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="wthree_copy_right">
		<div class="container">
			<p>© 2017 Musicality. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
	</div>
<!-- //footer -->

	<!-- js -->
<script type="text/javascript" src="{% static 'user/js/jquery-2.1.4.min.js'%}"></script>
<!-- //js -->
<script src="{% static 'user/js/modernizr-2.6.2.min.js'%}"></script>
<script src="{% static 'user/js/classie.js'%}"></script>
<!-- text-effect -->
		<script type="text/javascript" src="{% static 'user/js/jquery.transit.js'%}"></script> 
		<script type="text/javascript" src="{% static 'user/js/jquery.textFx.js'%}"></script> 
		<script type="text/javascript">
			$(document).ready(function() {
					$('.w3ls_agile').textFx({
						type: 'fadeIn',
						iChar: 100,
						iAnim: 1000
					});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
					$('.w3_text').textFx({
						type: 'fadeIn',
						iChar: 100,
						iAnim: 1000
					});
			});
		</script>


<script src="{% static 'user/js/demo1.js'%}"></script>
<!-- start-smooth-scrolling -->
	<script src="{% static 'user/js/lightGallery.js'%}"></script>
	<script>
    	 $(document).ready(function() {
			$("#lightGallery").lightGallery({
				mode:"fade",
				speed:800,
				caption:true,
				desc:true,
				mobileSrc:true
			});
		});
    </script>
<!-- //gallery -->
	<!-- flexSlider -->
					<script defer src="{% static 'user/js/jquery.flexslider.js'%}"></script>
					<script type="{% static 'user/text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
				<!-- //flexSlider -->

<!-- //for bootstrap working -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'user/js/move-top.js'%}"></script>
<script type="text/javascript" src="{% static 'user/js/easing.js'%}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>

<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->

<script type="text/javascript" src="{% static 'user/js/bootstrap-3.1.1.min.js'%}"></script>


</body>
</html>