{% load static %}
<div class="services" id="services">
    <div class="container">
        <h3 class="wthree_head">Services We Do<span>Sounds made by voices</span></h3>
        <div class="w3l_gallery_grids">
          <div class="col-md-7 agileinfo_services_grids">
            <div class="col-md-6 agileinfo_services_grid">
                <div class="agileinfo_services_grid_right">
                    <h4><i class="fa fa-briefcase" aria-hidden="true"></i></h4>
                </div>
                <div class="agileinfo_services_grid_left">
                    <h4>Proffesional</h4>
                </div>

                <div class="clearfix"> </div>
                <p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl. 
                    Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
            </div>
            <div class="col-md-6 agileinfo_services_grid">
                <div class="agileinfo_services_grid_right">
                    <h4><i class="fa fa-volume-up" aria-hidden="true"></i></h4>
                </div>
                <div class="agileinfo_services_grid_left">
                    <h4>Narrating</h4>
                </div>

                <div class="clearfix"> </div>
                <p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl. 
                    Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
            </div>
            <div class="col-md-6 agileinfo_services_grid">
            <div class="agileinfo_services_grid_right">
                    <h4><i class="fa fa-headphones" aria-hidden="true"></i></h4>
                </div>
                <div class="agileinfo_services_grid_left">
                    <h4>Recording</h4>
                </div>
                
                <div class="clearfix"> </div>
                <p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl. 
                    Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
            </div>
            <div class="col-md-6 agileinfo_services_grid">
                <div class="agileinfo_services_grid_right">
                    <h4><i class="fa fa-music" aria-hidden="true"></i></h4>
                </div>
                <div class="agileinfo_services_grid_left">
                    <h4>Sound</h4>
                </div>

                <div class="clearfix"> </div>
                <p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl. 
                    Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-5 agileinfo_services_grid_img">
                    <img src="{% static 'user/images/serve.jpg'%}" alt=" " class="img-responsive" />
        </div>
        <div class="clearfix"> </div>
       </div>
    </div>
</div>