{% load static %}
<div class="team" id="team">
    <div class="agile_dot_info two">
     <div class="container">
         <h3 class="wthree_head wthree_head1">Our Artists<span>Sounds made by voices</span></h3>
         <div class="agileits_team_grids">
             <div class="col-md-4 agileits_team_grid">
                 <div class="agileits_team_grid_figure">
                     <img src="{% static 'user/images/IMG-20190623-WA0006.jpg'%}" style="height: 109px; width:109px; border-radius: 50%; border:5px solid white" alt=" " class="img-responsive" />
                 </div>
                 <div class="agileits_team_grid_figure_social">
                     <ul class="w3ls_social">
                         <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                         <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                     </ul>
                 </div>
                 <div class="clearfix"> </div>
                 <h4>Dashrath Chudashma<span>Artist</span></h4>
                 <p>Expert in pioano and also very goood singer.</p>
             </div>
             <div class="col-md-4 agileits_team_grid">
                 <div class="agileits_team_grid_figure">
                     <img src="{% static 'user/images/IMG_20221123_193622_641.jpg'%}" style="height: 109px; width:109px; border-radius: 50%; border:5px solid white" alt=" " class="img-responsive" />
                 </div>
                 <div class="agileits_team_grid_figure_social">
                     <ul class="w3ls_social">
                         <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                         <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                     </ul>
                 </div>
                 <div class="clearfix"> </div>
                 <h4>Rathod Ketan<span>Artist</span></h4>
                 <p>jitni tarif ki jaye utni kam!...</p>
             </div>
             <div class="col-md-4 agileits_team_grid">
                 <div class="agileits_team_grid_figure">
                     <img src="{% static 'user/images/2.png'%}" alt=" " class="img-responsive" />
                 </div>
                 <div class="agileits_team_grid_figure_social">
                     <ul class="w3ls_social">
                         <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                         <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                     </ul>
                 </div>
                 <div class="clearfix"> </div>
                 <h4>Laura Carl <span>Artist</span></h4>
                 <p>Morbi non elit sed neque rhoncus maximus ac at enim. 
                     Praesent a nisi sit amet risus semper laoreet et nec eros.</p>
             </div>
             <div class="clearfix"> </div>
         </div>
     </div>
 </div>
</div>