<!-- <div id="contact" class="contact">
    <div class="container">
        <h3 class="wthree_head">Contact Us <span>Sounds made by voices</span></h3>
        <div class="w3layouts_mail_grids">
            <div class="w3layouts_mail_grid_right">
                <form action="#" method="post">
                    <div class="col-md-6 wthree_contact_left_grid">
                        <input type="text" name="Name" placeholder="Name" required="">
                        <input type="email" name="Email" placeholder="Email" required="">
                    </div>
                    <div class="col-md-6 wthree_contact_left_grid">
                        <input type="text" name="Telephone" placeholder="Telephone" required="">
                        <input type="text" name="Subject" placeholder="Subject" required="">
                    </div>
                    <div class="clearfix"> </div>
                    <textarea name="Message" placeholder="Message..." required=""></textarea>
                    <input type="submit" value="Submit">
                    <input type="reset" value="Clear">
                </form>
            </div>
        </div>
    </div>
</div> -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.878331233398!2d-73.9881300845955!3d40.69867717933326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a3455555555%3A0xba0a7f3d92bbaa09!2sEducation+Department!5e0!3m2!1sen!2sin!4v1473320053257" style="border:0"></iframe>
    <div class="agile_map_grid">
        <div class="agile_map_grid1">
            <h3>Contact Info</h3>
            <ul>
                <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><span>address :</span> 868 1st Avenue NYC.</li>
                <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span>email :</span>
                    <a href="mailto: rathodketan5112001@gmail.com">rathodketan@gmail.com</a></li>
                <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="tel:9712054639"><span>call to us :</span> 9712054639</a></li>
            </ul>
        </div>
    </div>
</div>