<div class="testimonials">
    <div class="agile_dot_info three">
      <div class="container">
      <h3 class="wthree_head two">Real Customer Reviews <span>Sounds made by voices</span></h3>

          <div class="w3_testimonials_grids">
              <section class="slider_test_monials">
                  <div class="flexslider">
                      <ul class="slides">
                          <li>
                              <div class="w3_testimonials_grid_left">
                                  <p>" Morbi cursus, turpis quis laoreet blandit, odio turpis imperdiet nisl, 
                                      quis bibendum lorem purus lobortis nunc. Suspendisse tincidunt eu sapien 
                                      pellentesque interdum. Aenean lacus sapien, blandit vel nibh in, imperdiet 
                                      egestas erat.</p>
                              </div>
                              <div class="w3_testimonials_grid_right">
                                  <img src="images/4.png" alt=" " class="img-responsive" />
                              </div>
                              
                          </li>
                          <li>
                              <div class="w3_testimonials_grid_left">
                                  <p>" Morbi cursus, turpis quis laoreet blandit, odio turpis imperdiet nisl, 
                                      quis bibendum lorem purus lobortis nunc. Suspendisse tincidunt eu sapien 
                                      pellentesque interdum. Aenean lacus sapien, blandit vel nibh in, imperdiet 
                                      egestas erat.</p>
                              </div>
                              <div class="w3_testimonials_grid_right">
                                  <img src="images/2.png" alt=" " class="img-responsive" />
                              </div>
                          </li>
                      </ul>
                  </div>
              </section>
              </div>
              </div>
      </div>
  </div>